@model BusTracker.Models.ViewModels.StopView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>No title</title>
    
    <script src="Scripts/jquery-1.7.1.js"></script>
    <link href="Style/MapStyle.css" rel="stylesheet" />
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaD9y122lONvSWmdvIcOJIolJWpEQFxZY&sensor=false">
    </script>
    <script src="Scripts/map.js"></script>
    <script type="text/javascript">
  
        $(document).ready(function () {
            initialize();


           
            

            
            // not functioning correctly
                $("#geoBtn").click(
                   function () {
                       codeAddress(marker)
                   }
                );
            // not implemented yet
            $(document).ready(function ()
            {
                $("#homeBtn").click(function () {  });
            });
              
            $.fx.off = false;
            $("#frame").animate({ rotate: '+=45deg' }, 1000);
            $(".text").hide();
            $(".button").hover(
                function () { $('.text').fadeIn(500); },
             function () {
                 $(".text").fadeOut(500);
             });

            //$(".button").click(
            //    function () {
            //    $("#map_canvas").slideDown(500);
            //});
            var k = [];

       
         
           
            //alert(k[0][1]);

            var addresses = [];
            for (var i = 0; i < k.length; i++)
            {
                addresses[i] = new google.maps.LatLng(k[i][0], k[i][1]);
            }
            //alert(addresses[0]);

            var addresses2 = [
                 new google.maps.LatLng(55.86276, 9.83653),
                 new google.maps.LatLng(55.86220, 9.84224),

            ];

            //alert(addresses[0].lat() + "\n" + addresses2[0].lat());
            addRoute(addresses, "#0066FF");
            
        });
     
    </script>
</head>
<body>
    <div id="content">
        <div id="menu">

            <div class="button">
                <img src="Style/bus.png" /></div>
            <div class="button">
                <img src="Style/clock.png" /></div>
            <div class="button">
                <img src="Style/mapicon.png" /></div>
            <div class="button">
                <img src="Style/route.png" /></div>

            <div id="frame"></div>
            <div class="text">Schedule</div>

        </div>
        <div id="map_canvas" style="width: 1000px; height: 500px"></div>
    </div>

    
    <div>
        <input id="address" type="text" value="Horsens, Denmark">
        <input id="geoBtn" type="button" value="Geocode">
        <p></p>
        <input id="btnHome" type="button" value="My Location" />


          <div id="control_panel" style="float:right;width:30%;text-align:left;padding-top:20px">
    <div style="margin:20px;border-width:2px;">
        <b>Start:</b>
        <input id="start" type="text" value="Horsens Banegard, Horsens" />
        <br>
            <b>Waypoints:</b> <br>
            <i>(Ctrl-Click for multiple selection)</i> <br>
            <select multiple id="waypoints">
              <option value="V.Berings Plads, Horsens">V.Berings Plads</input>
              <option value="Norregade/Skolegade, Horsens">Norregade/Skolegade</input>
              <option value="Sundvej/Sygehuset, Horsens">Sundvej/Sygehuset</input>
              <option value="Bakkesvinget, Horsens">Bakkesvinget</input>
              <option value="Hybenvej, Horsens">Hybenvej</input>
              <option value="Chr. M. Ostegardsvej, Horsens">Chr. M. Ostegardsvej</input>
              <option value="Sundbakken, Horsens">Sundbakken</input>
              <option value="Bygaden/Hojmarksvej, Horsens">Bygaden/Hojmarksvej</input>
              <option value="Stensballeskolen, Horsens">Stensballeskolen</input>
            </select>
        <br>
        <b>End:</b>
        <input id="end" type="text" value="Bygaden/Hojmarksvej, Horsens" />
        <br>
          <input type="submit" onclick="calcRoute();">
    
    <div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>
    </div>

    </div>
    <div>@Model.stop_name</div>
      

</body>
</html>
