@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>No title</title>
    
    <script src="Scripts/jquery-1.7.1.js"></script>
    <link href="Style/MapStyle.css" rel="stylesheet" />
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBaD9y122lONvSWmdvIcOJIolJWpEQFxZY&sensor=false">
    </script>
    <script src="Scripts/map.js"></script>
    <script type="text/javascript">
  
        $(document).ready(function () {
            initialize();
           
           
                $("#geoBtn").click(
                   function () {
                       codeAddress(marker)
                   }
                );
              
            $.fx.off = false;
            $("#frame").animate({ rotate: '+=45deg' }, 1000);
            $(".text").hide();
            $(".button").hover(
                function () { $('.text').fadeIn(500); },
             function () {
                 $(".text").fadeOut(500);
             });

            //$(".button").click(
            //    function () {
            //    $("#map_canvas").slideDown(500);
            //});
        });
       
    </script>
</head>
<body>
    <div id="content">
        <div id="menu">

            <div class="button">
                <img src="Style/bus.png" /></div>
            <div class="button">
                <img src="Style/clock.png" /></div>
            <div class="button">
                <img src="Style/mapicon.png" /></div>
            <div class="button">
                <img src="Style/route.png" /></div>

            <div id="frame"></div>
            <div class="text">Schedule</div>

        </div>
        <div id="map_canvas" style="width: 1000px; height: 500px"></div>
    </div>

    <div>
        <input id="address" type="text" value="Sydney, NSW">
        <input id="geoBtn" type="button" value="Geocode">
    </div>
  

</body>
</html>
